/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.heroBanner {
  background-image: url("/img/lab.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
